:root {
    /* UIKit Standard Colors */
    --uk-primary: #1e87f0; /* Blue */
    --uk-secondary: #222; /* Dark Gray */
    --uk-muted: #999; /* Light Gray */
    --uk-success: #32d296; /* Green */
    --uk-warning: #faa05a; /* Orange */
    --uk-danger: #f0506e; /* Red */
    --uk-meta: #666; /* Gray for metadata */
    /* Custom Colors */
    --uk-light: #ebebeb; /* Light Gray */
}

body {
    font-family: Arial, sans-serif;
}

.header {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background-color: var(--uk-light);
}

.footer {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    background-color: var(--uk-light);
}

.active-footer-button {
    background-color: rgba(0, 0, 0, 0.05);
}

.footer-item {
    cursor: pointer;
}

.post-divider,
.parent-post-divider {
    border-color: var(--uk-muted);
}

.underlined-link {
    text-decoration: underline;
}

.mini-action {
    cursor: pointer;
}

.mini-action:hover {
    color: var(--uk-secondary);
}

.bleeding-heart {
    color: red;
}

.bleeding-heart svg path {
    fill: currentColor;
    stroke: currentColor;
}
