:root {
    /* UIKit Standard Colors */
    --uk-primary: #1e87f0; /* Blue */
    --uk-secondary: #222; /* Dark Gray */
    --uk-muted: #999; /* Light Gray */
    --uk-success: #32d296; /* Green */
    --uk-warning: #faa05a; /* Orange */
    --uk-danger: #f0506e; /* Red */
    --uk-meta: #666; /* Gray for metadata */
    /* Custom Colors */
    --uk-light: #ebebeb; /* Light Gray */
}

html {
  overflow-y: scroll;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.75em !important;
    background-color: var(--uk-light);
}

.footer {
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: var(--uk-light);
}

.active-footer-button {
    background-color: var(--uk-primary);
    color: white;
    cursor: not-allowed;
}

.active-footer-button:disabled {
  opacity: 0.7;
}

.post-meta-data {
    margin-top: 0.25rem;
}

.post-divider,
.parent-post-divider {
    border-color: var(--uk-muted);
}

.underlined-link {
    text-decoration: underline;
}

.mini-action {
    cursor: pointer;
}

/*
.mini-action:hover {
    color: var(--uk-primary);
}
*/

.bleeding-heart {
    color: red;
}

.bleeding-heart svg path {
    fill: currentColor;
    stroke: currentColor;
}

/* Prevent the button get stuck in hover state after page scrolling */
.non-sticky {
    position: relative;
}
