#message-title {
    cursor: pointer;
}

.message-reply {
    cursor: pointer;
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;
}

.reply-wrapper > :first-child {
  margin-bottom: 0.1em; /* Adjust as needed */
}
