.top-post {
    cursor: pointer;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

/* Prevent sticky footer from overlapping the end of the page */
#posts {
    padding-bottom: 50px;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Same width as uk-container-xsmall */
    max-width: 750px;
    z-index: 999;
}

/* Prevent sticky behavior from affecting the button, i.e.
   prevent the button to flicker while the page scrolls. */
.non-sticky {
    position: relative;
}
