.header {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.footer {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.top-post {
    cursor: pointer;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.active-footer-button {
    background-color: rgba(0, 0, 0, 0.05);
}

.footer-item {
    cursor: pointer;
}

.sticky-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Same width as uk-container-xsmall */
    max-width: 750px;
    z-index: 999;
}

/* Workaround for sticky behavior affecting the button */
.non-sticky {
  position: relative; /* Prevent sticky behavior from affecting the button */
}
